<!DOCTYPE html>
<html lang='fr'>
    <head>
        <meta charset ="UTF-8">
        <title>AShitecte</title>
        <link type="text/css" rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css')}}" />
        <script type="text/javascript" src="{{ url_for('static', filename='js/cytoscape.min.js')}}"></script>
        <script type="text/javascript" src="{{ url_for('static', filename='js/layout-base.js')}}"></script>
        <script type="text/javascript" src="{{ url_for('static', filename='js/cose-base.js')}}"></script>
        <script type="text/javascript" src="{{ url_for('static', filename='js/cytoscape-fcose.js')}}"></script>    
        <script type="text/javascript" src="{{ url_for('static', filename='js/angular.min.js')}}"></script>
        <script type="text/javascript" src="{{ url_for('static', filename='js/angular-animate.min.js')}}"></script>
        <link type="text/css" rel="stylesheet" href="{{ url_for('static', filename='css/angular-csp.min.css')}}"></link>
    
        <link type="text/css" rel="stylesheet" href="{{ url_for('static', filename='css/normalize.css')}}"></link>
    
        <link rel="stylesheet" href="{{ url_for('static', filename='css/line-awesome.min.css')}}">
    
        <link type="text/css" rel="stylesheet" href="{{ url_for('static', filename='main.css')}}"></link>
        <link rel="icon" type="image/png" href="{{ url_for('static', filename='img/icone/favicon.png')}}"/>
    </head>
    <body ng-controller="ParentCtrl">
        <!-- Formulaire de recherche -->
        <div>
            <div>Numéro d'AS : </div>
            <input label="ID" >
            <button>valider</button>
        </div>

        <!-- fenêtre de vue du graphe -->
        <div id="placeNetwork" ng-controller="graphNetwork">
            <div id="mynetwork"></div>
        </div>

        <script type="text/javascript" src="{{ url_for('static', filename='main.js')}}"></script>
    </body>
</html>