<!DOCTYPE html>
<html lang='fr'>
    <head>
        <meta charset ="UTF-8">
        <title>AShitecte</title>
        <link type="text/css" rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css')}}" />
        <script type="text/javascript" src="{{ url_for('static', filename='js/cytoscape.min.js')}}"></script>
        <script type="text/javascript" src="{{ url_for('static', filename='js/layout-base.js')}}"></script>
        <script type="text/javascript" src="{{ url_for('static', filename='js/cose-base.js')}}"></script>
        <script type="text/javascript" src="{{ url_for('static', filename='js/cytoscape-fcose.js')}}"></script>    
        
        <script type="text/javascript" src="{{ url_for('static', filename='js/angular.min.js') }}"></script>
        <script type="text/javascript" src="{{ url_for('static', filename='js/angular-messages.min.js') }}"></script>
        <script type="text/javascript" src="{{ url_for('static', filename='js/angular-aria.min.js') }}"></script>
        <script type="text/javascript" src="{{ url_for('static', filename='js/angular-animate.min.js') }}"></script>
        <script type="text/javascript" src="{{ url_for('static', filename='js/angular-material.min.js') }}"></script>
        
        <link type="text/css" rel="stylesheet" href="{{ url_for('static', filename='css/angular-csp.min.css')}}"></link>
        <link rel="stylesheet" href="{{ url_for('static', filename='css/angular-material.min.css') }}">
    
        <link type="text/css" rel="stylesheet" href="{{ url_for('static', filename='css/normalize.css')}}"></link>
    
        <link rel="stylesheet" href="{{ url_for('static', filename='css/line-awesome.min.css')}}">
    
        <link type="text/css" rel="stylesheet" href="{{ url_for('static', filename='main.css')}}"></link>
        <link rel="icon" type="image/png" href="{{ url_for('static', filename='img/icone/favicon.png')}}"/>

        <script src="{{ url_for('static', filename='js/vue.global.min.js') }}"></script>
    </head>
    <body ng-controller="ParentCtrl">
        <!-- Formulaire de recherche -->
        <div class="header_form d-flex justify-content-around align-items-center">
            <div class="header_form_left d-flex justify-content-around align-items-center"
                ng-class="{'reduced_left': ASresolving}">
                <div>
                    <md-button md-no-ink class="" ng-click="getASdata(asNumber)">AShitecte</md-button>
                </div>
                <div>
                    <md-input-container class="md-block ASHinput" flex-gt-sm>
                        <label>Numéro d'AS : </label>
                        <input ng-model="asNumber">
                    </md-input-container>
                </div>
                <div>
                    <md-button md-no-ink class="ASHbutton" ng-click="getASdata(asNumber)">valider</md-button>
                </div>
            </div>
            <div class="header_form_right d-flex justify-content-around align-items-center"
            ng-class="{'displaced_left': ASresolving}">
                <div class="md-block align-self-center">
                    AS{{"{{asNumber}}"}}
                </div>
                <div class="md-block">
                    <md-button md-no-ink class="ASHbutton" ng-click="ASDataMenu = !ASDataMenu; ASActionMenu = false"><i class="las la-ellipsis-v"></i>&nbsp; AS Info</md-button>
                    <div class="d-flex flex-column ng-hide ASMenuDropdown" ng-show="ASDataMenu">
                        <div ng-repeat="(ASkey, ASvalue) in ASdata.data" class="p-2">
                            <div>{{"{{ASkey}}"}}</div>
                            <pre>{{"{{ASvalue|json}}"}}</pre>
                        </div>
                    </div>
                </div>
                <div class="md-block">
                    <md-button md-no-ink class="ASHbutton" ng-click="ASActionMenu = !ASActionMenu; ASDataMenu = false"><i class="las la-bars"></i>&nbsp; Actions</md-button>
                    <div class="d-flex flex-wrap ng-hide ASActionDropdown" ng-show="ASActionMenu">
                        <ul class="list-group list-group-flush">
                            <li class="list-group-item list-group-item-action list-group-item-dark ASActionListIem">
                                <div ng-click="scanDirectAsCIDR()">Scan directe</div>
                            </li>
                            <li class="list-group-item list-group-item-action list-group-item-dark ASActionListIem">
                                <div ng-click="scanIndirectAsNeighbours()">Scan indirecte</div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>

        <!-- fenêtre de vue du graphe -->
        <div id="placeNetwork" class="d-flex justify-content-around align-items-center" ng-controller="graphNetwork">
            <div id="mynetwork"></div>
        </div>

        <script type="text/javascript" src="{{ url_for('static', filename='main.js')}}"></script>

        <script src="{{ url_for('static', filename='js/quasar.umd.js')}}"></script>
        <script src="{{ url_for('static', filename='js/fr.umd.prod.js')}}"></script>
        <script src="{{ url_for('static', filename='js/svg-material-icons.umd.prod.js')}}"></script>
        <script type="module" src="{{ url_for('static', filename='vuemain.js')}}">
        </script>
    </body>
</html>